.navTop {
  display: flex;
  position: relative;
  background-color: #0070ff;
  color: azure;
  padding: 1.5rem;
  margin-top: 0;
  height: 1rem;
}

.title {
  display: flex;
  cursor: pointer;
  margin-left: 20%;
  text-align: center;
  position: absolute;
  height: 1rem;
  margin-top: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: lighter;
}
